.navbar {
    background-color: black;
    color: white;
    font-family: 'Courier New', courier, monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 6rem;
}

.ulNav {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    /* justify-content: space-between; */
    gap: 2rem;
}